<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/Css/style-login.css">
</head>
<body>
    <div class="container">
        <h1>Recover password</h1>
        <form method="post" action="/verify-identity">
            <div class="form-group">
                <label for="username">Enter your username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <button type="submit" class="login-btn">Verification</button>
        </form>
    </div>
</body>
</html>

