<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Homepage</title>
    <link rel="stylesheet" href="/public/Css/home-Style">
    <%- include('./component/navbar-org.ejs') %>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="logo.png" alt="Site Logo">
            </div>
            <nav class="nav-menu">
                <a href="#" class="menu-item home">Flight</a>
                <a href="#" class="menu-item">Tracking</a>
                <a href="#" class="menu-item">Pilgrim Group</a>
                <a href="#" class="menu-item">Chat with Pilgrim</a>
            </nav>
        </aside>
        <main class="content">         
            <!-- Organization Information Section -->
            <section class="user-info-section">
                <h2 class="section-title">Organization Information</h2>
                <div class="info-card">
                    <div class="info-details">
                        <p><strong>Organization Name:</strong> <!--from Database--></p>
                        <p><strong>Organization Number:</strong> <!--from Database--></p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <%- include('./component/footer.ejs') %>
    <script src="/public/JavaScript/homeOrgScript.js"></script>
</body>
</html>
