<!--Landing page the first page users will see -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Images/Faridah app Logo.png" type="image/png">
    <link rel="stylesheet" href="./Css/style-landing.css">
    <title>Faridah</title>
</head>
<%- include('./component/navbar.ejs') %>

<body>
    <header class="hero">
        <div class="hero-content">   
            <div class="logo">
                <img src="./Images/Faridah app Logo.png" alt="Faridah Logo" class="logo-img">
            </div>
            <h1 class="hero-title">Welcome to Faridah!</h1>
            <p class="hero-subtitle">Enhance your Hajj experience, with GPS tracking, direct chatting, and more!</p>
            <a href="/views/pages/login organizer.html" class="hero-button Org">Organizer</a>
            <a href="/views/pages/login pilgrim.html" class="hero-button Pil">Pilgrim</a>
        </div>
    </header>


        <!-- Bootstrap Footer -->
        <%- include('./component/footer.ejs') %>
   
        <!-- Add Bootstrap CSS and JS (if not already included in your project) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </body>
</html>