<!--Landing page the first page users will see --> 
<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/Images/Faridah app Logo.png" type="image/png">
    <title>Faridah</title>
</head>
<body>
    <div id="response"></div>
    <header id="home" class="hero-area">    
        <div class="overlay">
          <span></span>
          <span></span>
        </div>
        <nav class="navbar navbar fixed">
          <div class="container">
            <a href="index.html" class="navbar-brand"><img src="/public/Images/Faridah app Logo.png" alt=""></a>       
          </div>
        </nav>
 <div class="container">
    <button></button>    
            <div class="contents">
              <Wellcome class="head-title" >Wellcome to Faridah!</h2>
              <p>Enhance your hajj experience, with GPS tracking,dirct chatting, and more!</p>
              <div class="header-button">
                <a href="/views/signUp organizer.html" rel="nofollow" target="_blank" class="btn pilgrim">Pilgrim</a>
                <a href="/views/login pilgrim.html" rel="nofollow" target="_blank" class="btn organizer">Organizer</a>
              </div>
            </div>
          </div>
            </div>            
    </header>

</body>
</html>
