<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Images/Faridah app Logo.png" type="image/png">
    <title>Login Page</title>
    <link rel="stylesheet" href="\Css\style-login.css">
</head>
<body>
    <div class="container">
        <h1>Hello</h1>
        <% if (typeof message !== 'undefined') { %>
            <div class="success-message"><%= message %></div>
        <% } %>
        <form id="orgLoginForm" method="post" action="/login-organizer">
            <div class="form-group">
                <label for="organization">Organization Number</label>
                <input type="text" id="organization" name="organization" aria-required="true" placeholder="Enter Organization Number" autocomplete="off" autocapitalize="none" spellcheck="false" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" aria-required="true" placeholder="Enter Password" autocomplete="off" autocapitalize="none" spellcheck="false" required>
            </div>
            <div class="options">
                <div class="forgot-password"><a href="/forgot-password-organizer">Forgot password?</a></div>
            </div>
            <button type="submit" class="login-btn">Log in</button>
            <div class="error" id="errorMessage"></div>
        </form>
        <div class="create-account">
            Don't have an account? <a href="signup-organizer">Create</a>
        </div>
    </div>

    <script src="\public\JavaScript\script-login.js"></script>
</body>
</html>

