<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/Images/Faridah app Logo.png" type="image/png">
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/Css\style-login.css">
</head>
<body>
    <div class="container">
        <h1>Hello</h1>
        <form id="loginForm" aria-labelledby="loginFormTitle">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" aria-required="true" placeholder="Enter Username" autocomplete="off" autocapitalize="none" spellcheck="false">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" aria-required="true" placeholder="Enter Password" autocomplete="off" autocapitalize="none" spellcheck="false">
            </div>
            <div class="options">
                <label for="rememberMe">Remember Me <input type="checkbox" id="rememberMe"></label>
                <div class="forgot-password"><a href="#">Forgot password?</a></div>
            </div>
            <button type="button" class="login-btn" onclick="validateForm()">Log in</button>
            <div class="error" id="errorMessage"></div>
        </form>
        <div class="create-account">
            Don't have an account? <a href="signUp-pilgrim.html">Create</a>
        </div>
    </div>

    <script src="\public\JavaScript\script-login.js"></script>
</body>
</html>


