/* Footer Styling */
footer {
    background-color: #bb8c4e;
    clear: both;
    padding: 5px 0;
    margin-top: 5px;
    color: #333 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .container {
    width: 100%;  /* Ensuring the footer container takes full width */
    margin: 0 auto;
    padding: 10px;
    background-color: #bb8c4e; /* Keeps background color consistent */
    color: #333; /* Footer text color */
}

footer .col-md-3, .read {
    color: #333;
}

footer .text-center {
    color: #333;
}

footer a {
    color: #333 !important;
}

footer .modal-content {
    background-color: white !important;
}

footer .modal-footer {
    background-color: #bb8c4e;
}

/* Responsive Design */
@media (max-width: 768px) {
    footer .container {
        width: 100% !important;  /* Ensure full width on mobile as well */
    }

    .hero-title {
        font-size: 2.2em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .hero-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .about-section, .team-section {
        padding: 30px 20px;
    }
}
