body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Logo Styling */
.logo {
    margin-top: 20px;
}

.logo-img {
    width: 320px;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Content stays on top */
}

.hero::before {
    content: "";
    position: absolute;
    background: url('/Images/Hajj.jpg') center/cover no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Ensure the image is behind the gradient and content */
}

.hero::after {
    content: "";
    position: absolute;
    background: linear-gradient(135deg, #E2C6A7, #D1A97D, #C99766);
    opacity: 0.68;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the gradient is between the image and content */
}

.hero-content {
    text-align: center;
    margin-bottom: 40px; /* Reduced margin to bring text closer */
    color: #333;
    z-index: 2; /* Ensure the content is on top of the overlay */
}

.hero-title {
    font-size: 3em;
    margin-bottom: 50px;
    animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 50px;
    animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 20px;
    text-decoration: none;
    color: #333;
    background-color:  #c58d43;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.Org {
    background-color:  #BA7F37;
}

.hero-button:hover {
    background-color: #dcbb79;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About Section Styling */
.about-section {
    padding: 50px 100px;
    background-color: #f3dfc6; /* Similar tone to the hero background */
    text-align: left;
}

.about-section h2 {
    font-size: 1.8em; /* Smaller heading */
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin: 0 auto;
}

/* Our Team Section Styling */
.team-section {
    padding: 50px 100px;
    background-color: #e4cdb0; /* Similar tone to the hero background */
    text-align: left;
}

.team-section h2 {
    font-size: 1.8em; /* Smaller heading */
    margin-bottom: 15px;
}

.team-section p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin: 0 auto;
}

/* Footer Styling */
footer {
    background-color: #bb8c4e;
}

.col-md-3, .read {
    color: #333;
}

.text-center {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2.2em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .hero-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .about-section, .team-section {
        padding: 30px 20px;
    }
}