<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #bb8c4e !important;" id="nav">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <style>
        #nav {
          background-color: #bb8c4e !important;
        }
  
        .nav-link {
          font-size: large;
        }

        .fixed-navbar {
    background-color: #bb8c4e !important; /* Force the background color */
}

  
        #lanicon {
          margin: 0 15px;
        }
  
        body {
          overflow-x: hidden; /* Prevent horizontal scroll */
        }
  
        /* Ensuring the dropdown stays within the viewport */
        .dropdown-menu {
          right: 0;
          left: auto;
        }
  
        /* Prevent dropdown overflow */
        .dropdown-menu-end {
          transform: translateX(-50%); /* Ensure dropdown stays within page bounds */
        }
      </style>
  
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="./Images/Faridah app Logo.png" height="95" alt="Faridah Logo" loading="lazy" />
        </a>
        <!-- Left links -->
      </div>
      
      <a>Welcome!</a>
       
     <!-- Change language icon -->
<!-- Globe icon with dropdown for language selection -->
<div class="dropdown">
  <i id="lanicon" class="bi bi-globe fs-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-lang="en">English</a>
    <a class="dropdown-item" href="#" data-lang="ar">Arabic</a>
  </div>
</div>


<!-- MDB Bootstrap JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

<!-- Include your custom translate.js file -->
<script src="/JavaScript/translate.js"></script>


  </nav>
  <!-- Navbar -->
  

 