<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Home Page</title>
    <link rel="stylesheet" href="/public/Css/homeOrgStyle.css">
    <%- include('./component/navbar-org.ejs') %>
</head>
<body>

 <!-- Header profile button -->
     <header>
        <button id="accountButton"> <img id="profileButton" src="pIcon.png" 
            alt="Profile" class="accountButton" height="45" width="45"> </button>
    </header>
    <div class="container">
        <!-- Display Info of Organization -->
        <div class="card">
            <div>
                <p><strong>Organization Name:</strong> </p>
                <p><strong>Organization Number:</strong> </p>
            </div>
        </div>

        <!-- Tracking Button -->
        <button class="button" id="trackingButton">
            <span>Tracking</span>
        </button>

        <!-- Pilgrim Group Button -->
        <button class="button" id="pilgrimGroupButton">
            <span>Pilgrim Group</span>
        </button>

        <!-- Chat with Pilgrims Button -->
        <button class="button" id="chatButton">
            <span>Chat with the Pilgrims</span>
        </button>
    </div>
    <%- include('./component/footer.ejs') %>

    <script src="/public/JavaScript/homeOrgScript.js"></script>

</body>
</html>
